input {
  position:absolute;
  left:300px;
}
.button {
  background-color: #4d88ff;
  border: 1px solid #4d88ff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  display: block;
}

  .button:not(:last-child) {
    border-bottom: none; 
  }

  .button:hover {
    background-color: #99bbff;
  }
